---
layout: default
---

Collection: {{ page.collection }}
<br />
All Collections: {{ site.collections }}

<h1>Anatomies of Intelligence Landing Page</h1>

<h2>ToDos</h2>
<ul>
<li>Get catalog working</li>
<li>Figure out css system</li>
</ul>

<h2>All entries</h2>

<ul>
{% for coll in site.collections %}
  {% if coll.label == "entries" %}
    {% assign entries = coll.docs %}
    {% for entry in entries %}
      <li><a class="entrylist" href="{{ entry.url }}">{{ entry.title }}</a></li>
    {% endfor %}
  {% endif %}
{% endfor %}
</ul>

## All Posts

<ul>
{% for coll in site.collections %}
  {% if coll.label == "posts" %}
    {% assign posts = coll.docs %}
    {% for post in posts %}
      <li><a class="entrylist" href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  {% endif %}
{% endfor %}
</ul>
