---
layout: default
---

Collection: {{ page.collection }}
<br />
All Collections: {{ site.collections }}
<br />
Site Tags: {{ site.tags }}
<br />

<h1>Anatomies of Intelligence Landing Page</h1>


<h2> All Tags </h2>
<ul>
{% for tag in site.tags %}
<li>{{ tag[0] }} | {{ tag[1] }}</li>
{% endfor %}
</ul>

<h2> All Categories</h2>
<ul>
{% for cat in site.categories %}
<li>{{ cat[0] }} | {{ tag[1] }}</li>
{% endfor %}
</ul>


<h2>All entries</h2>

<ul>
{% for coll in site.collections %}
  {% if coll.label == "entries" %}
    {% assign entries = coll.docs %}
    {% for entry in entries %}
      <li><img width=100 src="/img/{{ entry.image }}"/><a class="entrylist" href="{{ entry.url }}">{{ entry.title }}</a></li>
    {% endfor %}
  {% endif %}
{% endfor %}
</ul>

<h2>All Posts</h2>

<ul>
{% for post in site.posts %}
      <li><img width=100 src="/img/{{ post.image }}"/><a class="entrylist" href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
