---
layout: default
---

All Categories:
{% for cat in site.categories %}
<br/><a href="{{ site.url }}/{{ cat[0] }}/">{{ cat[0] }}</a>
{% endfor %}

<br /><br />
All Tags: {{ site.tags }}
<br /><br />

<h1>Catalog</h1>

<ul>
{% for post in site.posts %}
	{% if post.layout == "image" %}
      <li><img width=100 src="/img/{{ post.image }}"/><a class="entrylist" href="{{ post.url }}">{{ post.title }}</a></li>
	{% elsif post.layout == "text" %}
			<li>TEXT: <a class="entrylist" href="{{ post.url }}">{{ post.summary }}</a></li>
	{% endif %}
{% endfor %}
</ul>
