---
layout: performance
permalink: theatre
comment: v3 theatre uses thumbnail images and reads entry data in from csv file/database
---

<div id="categories" style="display:none">
All Categories:
{% assign sortedcats = site.categories | sort: '' %}
{% for cat in sortedcats %}
<br/><a href="{{ site.url }}{{ cat[0] }}">{{ cat[0] }}</a>
{% endfor %}
</div>

<div id="tags" style="display:none">
{% capture site_tags %}{% for tag in site.tags %}{{ tag[0] }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}
All Tags:
<br />{% for tag in tag_words %}"{{ tag }}", {% endfor %}
</div>

<script>
// ****Initialize the catalog****
var catalog = new Catalog();
var tag_weight, newexample;
</script>


{% for post in site.posts %}
{% assign post_id = post.title | slugify:"latin" %}
{% assign image_thumb = post.image | replace: ".", "_th." %}
<div class="refs" id="{{ post_id }}">
  <a href="{{ post.url }}" onclick="openEntry('{{ post_id }}'); return false">
    <span style="display:none">{{ post.date | date: "%B %d, %Y" }}:</span>{{ post.title }}</a>
{% if post.layout == "image" %}<img src="/img/{{ image_thumb }}"/>{% endif %}
<script>
newexample = new Entry("{{ post_id }}", "{{ post.url }}");
{% for tag in post.tags %}
{% assign idx = forloop.index | minus: 1 %}
tag_weight = ["{{ tag }}", {{ post.weights[idx] }}];
newexample.addFeature(tag_weight);
{% endfor %}
catalog.addEntry(newexample);
</script>
</div>
{% endfor %}


<script>

// PARSE CSV FILE
filepath = "metadata.csv"
// Parse local CSV file
Papa.parse(filepath, {
  download: true,
	complete: function(results) {
		console.log("Finished reading CSV:", results.data);
	}
});

// Stream big file in worker thread
Papa.parse(filepath, {
  download: true,
	worker: true,
	step: function(results) {
		console.log("Row:", results.data);
	}
});



// OSC connection to the local SimpleOSC Server
var OSC_OUT = new SimpleOSC("localhost", 8080);
OSC_OUT.init(function() {
    // Put code here that should run once an OSC connection is established.
    //catalog.cluster(K, MEASUREMENT, CLUSTER_DIMENSIONS, ITERATIONS, resultfunc, BREAKPOINTS, OSC_OUT, console.log);
});


// ***ADDITIONAL FUNCTIONS****

function reset() { location.reload() }

// Get all entry divs, optionally by a specific cluster
function getEntryDivs(cluster=-1) {
  let result, classval;
  if(cluster == -1) {
    classval = "refs";
  } else {
    classval = "cluster"+cluster;
  }
  result = document.getElementsByClassName(classval);
  return result;
}

// Get all centroid divs
function getCentroidDivs() {
    return document.getElementsByClassName("centroid");
}

// Remove all centroid divs and randomize entry positions, keeps clusters
function randomize() {
  let centroids, entries;
  centroids = getCentroidDivs();
  for(let i = centroids.length-1; i >= 0; i--) {
    centroids[i].remove();
  }
  entries = getEntryDivs();
  for(let entry of entries) {
    entry.style.top = Math.floor(Math.random() * window.innerHeight) + 'px';
    entry.style.left = Math.floor(Math.random() * window.innerWidth) + 'px';
  }
}

// THIS METHOD DOESN"T WORK YET: look at grid display type
// Remove all centroid divs and arrange entries in a grid, keeps clusters
function grid() {
  let centroids, entries;
  let numRows, numCols, rowSpacing, colSpacing;
  // TODO: implement grid spacing...!
  centroids = getCentroidDivs();
  for(let i = centroids.length-1; i >= 0; i--) {
    centroids[i].remove();
  }
  entries = getEntryDivs();
  for(let i = 0; i < entries.length; i++) {

  }

}

// Remove all centroids, clusters, and randomize entries without reload
function clean_surface() {
  let centroids, entries;
  centroids = getCentroidDivs();
  for(let i = centroids.length-1; i >= 0; i--) {
    centroids[i].remove();
  }
  entries = getEntryDivs();
  for(let entry of entries) {
    entry.className = "refs"; // remove any cluster association
    entry.style.border = "none";
    entry.style.top = 0 + 'px';
    entry.style.left = 0 + 'px';
  }
  CLUSTERS = null;
  CENTROIDS = null;
}


function showPopup(url, name) {
  let win = window.open(url, name,'menubar=0,toolbar=no,location=0,personalbar=0,status=0, height=400,width=250,top=200,left=300,resizable=yes,scrollbars=yes');
  if(window.focus) { win.focus() }
}

/*
Note that Mozilla and Firefox users can force new windows to always render the location bar by setting dom.disable_window_open_feature.location to true in about:config or in their user.js file.
https://developer.mozilla.org/en-US/docs/Web/API/Window/open
*/

function openEntry(entryID) {
  let entry_url = catalog.allEntries[entryID].url;
  console.log("OPENING: " + entry_url + entryID);
  showPopup(entry_url, "_blank");
}


// USAGE TESTS: (if these work then our code is more-or-less done)
// test the catalog & clustering libraries
function run_tests() {
  // Grab a couple entries to work with
  e1 = Object.values(catalog.allEntries)[0];
  e2 = Object.values(catalog.allEntries)[1];
  tagscut = ["models", "preparations", "aesthesis", "unknown"];
  options = {taglist: tagscut};

  // Test getting a FeatureVec from an Entry based on the tags we are cutting along.
  fv1 = e1.getFeatures(options);
  fv2 = e2.getFeatures(options);
  console.log("Features of",e1,"are",fv1);
  console.log("Features of",e2,"are",fv2);
  ex_as_feat = catalog.entriesAsFeatures(options);
  console.log("All entries as feature vectors based on the given cut:", ex_as_feat);

  // Test distance measurements.. right now we only have the Euclidean standard
  distance = Measures.euclidean(fv1, fv2, options); // distance from entry 1 to entry 2 based on our cut and euclidean measurement method
  console.log("Distance", e1.id, "to", e2.id, "=", distance);


  // Test some of the statistical functions used in the KMeans algorithm
  km = new KMeans(3, options);
  feature_avg = km.mean(ex_as_feat);
  console.log("MEAN of features:", feature_avg);
  normalized = km.normalize(ex_as_feat);
  console.log("NORMALIZED features:",normalized);
  denormalized = km.denormalize(normalized);
  console.log("DENORMALIZED features:",denormalized);
}


function randomColorString() {
  return ""+Math.round(Math.random() * 255)+", "+Math.round(Math.random() * 255)+", "+Math.round(Math.random() * 255);
}

// PRIMARY PROJECTION CODE
function project(projectionType, options={}, centroids, clusters) {
  let centroid_divs = [], borderColor, centroidnumber=0;
  // TODO: add error checking for null values in the options dictionary
  let showBorders = options.showBorders || SHOW_BORDERS;
  let borderAlpha = options.borderAlpha || BORDER_ALPHA;
  let centroidSymbol = options.centroidSymbol || CENTROID_SYMBOL;
  let priorityFeatures = options.prioritizeFeatures || PROJECTION_DIMENSIONS; // used in simple 2D to determine dimensions to plot
  PROJECTION_DIMENSIONS = priorityFeatures;
  let scaleDistance = options.scaleDistance || RADIAL_DENSITY; // used for radial density
  let featuresDefinition = options.featuresDefinition || PROJECTION_DIMENSIONS;

  if(!centroids) { centroids = CENTROIDS; }
  if(!clusters) { clusters = CLUSTERS; }

  // calculate priority dimensions from feature names
  let priorityDims = [], dim;
  for(let feature of priorityFeatures) {
    dim = featuresDefinition.indexOf(feature);
    if(dim != -1) {
      priorityDims.push(dim);
      console.log("Push priority dimension: ", dim);
    } else {
      console.log("ERROR: Could not find feature named '"+feature+"' in available features to project");
    }
  }
  if(priorityDims.length < 2) {
    priorityDims = [0,1]; // use first and second dimension by default
    console.log("WARNING: No priority features specified, projecting using first and second features");
  }

  // STYLE ENTRY DIVS FOR EACH CLUSTER ASSOCIATION
  for(var i = 0; i < centroids.length; i++) {
    for(let j = 0; j < clusters[i].length; j++) {
      var entrydiv, item = clusters[i][j];
      entrydiv = document.querySelector("#"+item.entry.id);
      entrydiv.style.position = "absolute";
      entrydiv.className = "refs " + "cluster" + i;

      if(showBorders) {
        if(CLUSTER_COLORS.length > i) {
          borderColor = CLUSTER_COLORS[i];
        } else {
          borderColor = randomColorString();
          CLUSTER_COLORS.push(borderColor);
        }
        entrydiv.style.border = "2px solid rgba(" + borderColor + ", " + borderAlpha + ")";
      }
    }
  }

  // Remove any previous centroid divs
  let old_centroid_divs = getCentroidDivs();
  for(var i = old_centroid_divs.length-1; i >= 0; i--) {
    old_centroid_divs[i].remove();
  }


  switch(projectionType) {
    // PROJECTION TYPE 2D PRINCIPAL COMPONENT ANALYSIS
    case Projections.PCA2D:
      console.log("PCA 2D PROJECTION");
      // TODO: implement PCA 2D projection
    break;
    case Projections.RANDOM:
      console.log("Random scattering of entries");
      randomize();
    break;
    case Projections.NONE:
      console.log("Clustering entries in place");
    break;
    // PROJECTION TYPE SIMPLE2D
    case Projections.SIMPLE2D: // 2D projection just looks at the first two features..
      let dimX = priorityDims[0], dimY = priorityDims[1];
      console.log("SIMPLE 2D PROJECTION USING FEATURES X:" + featuresDefinition[dimX] + " and Y:" + featuresDefinition[dimY]);

      // CREATE, STYLE & POSITION CENTROID DIVS
      for(let centroid of centroids) {
        newdiv = document.createElement("div");
        newdiv.id = centroid.example;
        newdiv.className = "centroid";
        newdiv.style.position = "absolute";

        // DEPENDS ON CENTROID X/Y VALUES
        newdiv.style.top = (centroid.features[dimX] * window.innerHeight) + 'px';
        newdiv.style.left = (centroid.features[dimY] * window.innerWidth) + 'px';

        // Centroid Color Calculation
        if(showBorders) {
          borderColor = CLUSTER_COLORS[centroidnumber];
          newdiv.style.color = "rgb("+borderColor+")";
        }

        newdiv.appendChild(document.createTextNode(centroidSymbol));
        document.body.appendChild(newdiv);
        centroid_divs.push(newdiv);
        centroidnumber++;
      }

      // POSITION ENTRY DIVS FOR THIS PROJECTION
      for(var i = 0; i < centroids.length; i++) {
        var x,y;
        for(let j = 0; j < clusters[i].length; j++) {
          var entrydiv, item = clusters[i][j];
          entrydiv = document.querySelector("#"+item.entry.id);
          entrydiv.style.top = (item.features[priorityDims[0]] * window.innerHeight) + 'px';
          entrydiv.style.left = (item.features[priorityDims[1]] * window.innerWidth) + 'px';
        }
      }
    // END 2D PROJECTION
    break;
    // PROJECTION TYPE: RADIUS
    case Projections.RADIUS:
    default:
      console.log("RADIUS PROJECTION");
      // create, style and position centroid divs
      for(let centroid of centroids) {
          newdiv = document.createElement("div");
          newtext = document.createTextNode(centroidSymbol);
          newdiv.appendChild(newtext);
          newdiv.id = centroid.example;
          newdiv.className = "centroid";
          newdiv.style.position = "absolute";
          // Centroid Color Calculation
          if(showBorders) {
            borderColor = CLUSTER_COLORS[centroidnumber];
            newdiv.style.color = "rgb("+borderColor+")";
          }
          newdiv.style.top = ((900 / 3) + 100) + 'px';
          newdiv.style.left = (centroidnumber * (3000 / centroids.length) + 300) + 'px';
          document.body.appendChild(newdiv);
          centroid_divs.push(newdiv);
          centroidnumber++;
      }

      // POSITION ENTRY DIVS FOR THIS PROJECTION
      for(let i = 0; i < centroid_divs.length; i++) {
          let x,y,theta,c, e, distance, cdiv;
          cdiv = centroid_divs[i];
          c = centroids[i];
          for(let j = 0; j < clusters[i].length; j++) {
              var entrydiv, item = clusters[i][j];
              // Here is the projection math, converts a distance to a radius
              distance = Measures.euclidean(c, item);
              theta = j * (2 * Math.PI / clusters[i].length);
              // Convert polar to cartesian
              x = Math.floor(distance * Math.cos(theta) * scaleDistance);
              y = Math.floor(distance * Math.sin(theta) * scaleDistance);

              entrydiv = document.querySelector("#"+item.entry.id);
              entrydiv.style.top = (y + cdiv.offsetTop) + 'px';
              entrydiv.style.left = (x + cdiv.offsetLeft) + 'px';
              //cdiv.appendChild(entrydiv);
          }
      }
      // END CIRCLE PROJECTION
    };
}

// Callback responds to clustering results and redraws the HTML
function resultfunc(err, clusters, centroids, featuresDef) {

    let old_centroid_divs = document.getElementsByClassName("centroid");
    // getElementsByClassName returns an HTMLCollection, which is dynamically resized
    // thus we need to count backwards
    let olddiv;
    for(let i = old_centroid_divs.length - 1; i >= 0; i--) {
      olddiv = old_centroid_divs[i];
      console.log("REMOVED OLD CENTROID:",olddiv);
      olddiv.remove();
    }

    // TODO: look into the use of featuresDef here...
    let opts = {
      showBorders: SHOW_BORDERS,
      borderAlpha: BORDER_ALPHA,
      centroidSymbol: CENTROID_SYMBOL,
      prioritizeFeatures: featuresDef,
      scaleDistance: RADIAL_DENSITY,
      featuresDefinition: featuresDef,
    };
    CLUSTER_DIMENSIONS = featuresDef;
    CENTROIDS = centroids;
    CLUSTERS = clusters;
    project(PROJECTION_TYPE, opts, centroids, clusters);

};


/*=============================================
Easier interface functions
==============================================*/
// SIMPLIFIED clustering
function cluster(num_clusters, features, iterations=10, callback, interactive=false, post=false) {
  K = num_clusters;
  CLUSTER_DIMENSIONS = features;

  if(callback == null) {
    callback = CALLBACK_FUNC;
  }

  if(interactive) {
    catalog.cluster(K, MEASUREMENT, CLUSTER_DIMENSIONS, iterations, resultfunc, 1.0, OSC_OUT, callback, post);
  } else {
    catalog.cluster(K, MEASUREMENT, CLUSTER_DIMENSIONS, iterations, resultfunc, 0.0, null, callback, post);
  }
}

// set tempo in BPM
function tempo(newtempo) { catalog.setTempo(newtempo); }

// change the callback function
function callback(newcallback) { catalog.setCallback(newcallback); }

// halt the clustering algorithm
function stop() { catalog.stop(); }

// post to console toggle
function setPost(post_to_console) { catalog.setPost(post_to_console); }

// set algorithm verbosity, 0.0 is the same as breakpoints === false
function setVerbosity(verbosity_level) { catalog.setVerbosity(verbosity_level); }

function distance(a, b) {
  var sum = 0;
  var n, feature_list;
  //console.log("EUCLIDEAN: ",a,b,options);
  if(typeof a == "number") { // special one-dimensional case
    if(typeof b == "number") {
        sum = Math.pow(a-b, 2);
    } else {
        console.log("ERROR: Inputs a and b are of different types!");
        return null;
    }
  } else { // calculate euclidean distance in n dimensions
    if(a.length == b.length) {
      for (n=0; n < a.length; n++) {
        sum += Math.pow(a[n]-b[n], 2);
      }
    } else {
      console.log("ERROR: Inputs a and b have different numbers of features!");
      return null;
    }
  }
  return Math.sqrt(sum);
}

function help() {
    let str = `
    clean_surface()     //remove all clusters and sweep entries to upper left
    reset()             //reload page
    randomize()         //randomize entry locations, clusters are not effected
    getEntryDivs()              //full list of entry divs
    getCentroidDivs()           //full list of centroid divs
    catalog.allFeatureNames     //full list of hand-made features
    catalog.allEntries          //full list of catalog entries

    -- projection types --
    Projections.NONE        //entries stay in place
    Projections.RANDOM      //entries are scattered randomly
    Projections.SIMPLE2D    //entries are projected in 2D using one feature per axis
    Projections.RADIUS      //entries arranged radially around centroids

    -- run a clustering on the catalog --
    NUM_CLUSTERS = 3                               // number of clusters to form
    FEATURES = ["aesthesis", "spectacle", "cut"]   // features to use for distance measurements
    ITERATIONS = 10                                // number of algorithm iterations
    CALLBACK = function(step, info) { console.log(step, info); return 1.0 }  // callback function
    BREAKPOINTS = true
    PRINT_TO_CONSOLE = false
    cluster(NUM_CLUSTERS, FEATURES, ITERATIONS, CALLBACK, BREAKPOINTS, PRINT_TO_CONSOLE)

    -- interact with running algorithm --
    callback(CALLBACK)        // change callback function
    setPost(PRINT_TO_CONSOLE)    // toggle printing steps to console
    setVerbosity(BREAKPOINTS)    // set output verbosity, 0.0 is equivalent to breakpoints==false
    tempo(60)                 // set the tempo in beats per minute
    stop()            // halt clustering algorithm

    -- apply different projections --
    project(Projections.SIMPLE2D)
    project(Projections.RADIUS)

    -- the callback function --
    // the simplest callback function, all steps take 1 beat
    cb1 = function(step, info) { return 1; }

    // same as above, but also prints step and info to the console
    cb2 = function(step, info) { console.log(step, info); return 1; }

    // distance measurements last 1/4 beat (16th note), all other steps take 1 beat
    cb3 = function(step, info) { if(step == 'distance') { return 0.25 } else { return 1 } }

    // change the callback while algorithm is running
    callback(cb2)
    callback(cb3)

    // more complex example; a callback that visually manipulates the catalog
    cb4 = function(step, info) {
      console.log(step, info);
      let colors = ["0,0,255", "238,130,238", "0,250,154", "119,136,153", "100,149,237"];
      if(step == 'distance') {
        entrydiv = document.querySelector("#"+info.id);
        entrydiv.style.background = "rgb(" + colors[info.cluster % 5] + ")";
        return 1/4; // pause 1/4 beat
      }
      if(step == 'decide') {
        entrydiv = document.querySelector("#"+info.id);
        entrydiv.style.background = "rgb(" + colors[info.cluster % 5] + ")";
        return 1/2; // pause 1/2 beat
      }
      return 1; // all other steps are 1 beat
    }

    -- more example commands --
    cluster(5, ["theatre", "cut"], 5, null, false, false)   // quick cluster in place
    project(Projections.RADIUS)
    randomize()
    cluster(3, ["measurement", "dimensionality"], 20, null, true, false)
    tempo(180)
    stop()      //halt clustering algorithm
    cluster(3, ["spectacle", "theatre"], 10, null, true, false)
    callback(cb4)
    project(Projections.SIMPLE2D)
    cut = ["aesthesis", "measurement", "cut", "spectacle", "theatre"]
    clean_surface()
    cluster(5, cut, 20, null, false, false)
    project(Projections.SIMPLE2D, {prioritizeFeatures: ["dimensionality", "measurement"], featuresDefinition: cut})
  `;
  console.log(str);
}

//************** GLOBAL CONSTANTS *****************//

// DEFAULT CALLBACK FUNC ... we could have more ...
var CALLBACK_FUNC = function(step, info) {
  console.log(step, info);
  if(step == 'distance') {
    entrydiv = document.querySelector("#"+info.id);
    entrydiv.style.border = 2 + "px solid rgba(" + CLUSTER_COLORS[info.cluster] + ", " + 0.8 + ")";
    return 1/4; // pause 1/4 beat
  }
  if(step == 'decide') {
    entrydiv = document.querySelector("#"+info.id);
    entrydiv.style.border = 2 + "px solid rgba(" + CLUSTER_COLORS[info.cluster] + ", " + 0.8 + ")";
    return 1/2; // pause 1/2 beat
  }
  return 1; // all other steps are 1 beat
};





// CLUSTERING PARAMETERS
var K = 3;
var MEASUREMENT = Measures.euclidean;
var ITERATIONS = 5;
var RESULTFUNC = resultfunc;  // callback function to run when clustering is done
//var CLUSTER_DIMENSIONS = catalog.allTags;
var CLUSTER_DIMENSIONS = ["aesthesis", "models", "preparations"];
var CLUSTER_OPTIONS = {taglist: CLUSTER_DIMENSIONS};
var CLUSTERS = [];    // populated after running catalog.cluster()
var CENTROIDS = [];   // populated after running catalog.cluster()

// Algorithmic time parameters
var BREAKPOINTS = false;   // break the algorithm up into temporal chunks
var TEMPO = 0.5;          // timescale/tempo speed of algorithm steps

// Visualization parameters
var PROJECTION_TYPE = Projections.NONE; // default projection
var PROJECTION_DIMENSIONS = CLUSTER_DIMENSIONS;
var RADIAL_DENSITY = 50;   // used in the RADIAL projection
var CENTROID_SYMBOL = "+";  // symbol printed at centroid position
var SHOW_BORDERS = true;    // show cluster coloring / borders
var BORDER_ALPHA = 0.5;     // cluster border alpha
var CLUSTER_COLORS = [      // cluster border color palette
    "0,0,255", //blue
    "238,130,238", //violet
    "0,250,154", //medium screen green
    "119,136,153", //slate gray
    "100,149,237", //corn flower blue
    "255,218,185", //peach
    "220,20,60", //crimson
    "255,255,0", //yellow
    "0,255,255", // dark cyan
];

// Test clustering with 3 clusters and 10 iterations
//catalog.cluster(3, Measures.euclidean, tagscut, 10, resultfunc);

// ****COMMANDS***

randomize(); // randomize example divs

</script>
