<hr>
<table id="breadcrumb">
{% for coll2 in site.collections %}
<tr>
    {% if coll2.label == include.collname %}
    <td><strong><a href="#sensestage{{ coll2.label }}">{{ coll2.label | capitalize }}</a></strong></td>
        {% for cat in site.data.category_order.navigation %}
            {% assign thesepages = coll2.docs | where: "category", cat.name %}
            {% if thesepages.size > 0 %}
                {% if cat.name == include.catname %}
<td id="currentcat"><a href="#{{ cat.name }}">{{ cat.name | capitalize }}</a></td><td>|</td>
                {% else %}
<td><a href="#{{ cat.name }}">{{ cat.name | capitalize }}</a></td><td>|</td>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</tr>
{% endfor %}
</table>
<hr>
