---
---

@import "{{ site.theme }}";

// @import url('https://fonts.googleapis.com/css?family=Ruda:400,700');

// Add custom CSS here
body {
font-family: 'Junction', sans-serif;
background-color: #D3D3D3;
}

a:link {
font: #0000ff !important;
}

a:visited {
font: gray !important;
}

@font-face {
   font-family: Junction;
   src: url(junction/Junction-regular.otf);
}
