---
---

@import "{{ site.theme }}";

// @import url('https://fonts.googleapis.com/css?family=Ruda:400,700');

// Add custom CSS here
body {
font-family: 'Junction', sans-serif;
background-color: #D3D3D3;
}

a {
color: #0000ff;
}

a:link {
color: #0000ff;
}

a:visited {
color: gray !important;
}

li {
    list-style-type: none;
}

@font-face {
   font-family: Junction;
   src: url(junction/Junction-regular.otf);
}
#description{
  color:black;
}

code {
    font-family: monospace;
    font-size: 8px;
    color: gray;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

body.performance {
        background-color: white;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0;
}

.performance #api {
    width: 300px;
    background-color: rgba(80,80,80,0.2);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.performance .refs {
        font-family: Junction, monospace;
        width: 100px;
        height: 100px;
        font-size: 8px;
        position: absolute;
}

.performance .slide {
    position: absolute;
    font-family: Junction, monospace;
    font-size: 12px;
    width: 400px;
    height: auto;
    padding: 10px;
    font-size: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #DDDDDD;
}

.performance div.slide blockquote {
    font-size: 12px;
}

.performance div.slide li {
    font-size: 12px;
    margin: 10px;
}

.performance a {
        text-decoration: none;
        color: black;
}

.performance a:visited {
        font-family: JunctionBold, monospace;
}

.performance .centroid {
    font-weight: bold;
    font-size: 24pt;
    color: #DB7093;
}

.performance .refs img{
        max-width: 250px;
        height: 50px;
        width: 50px;
        float: left;
        filter: grayscale(100%);
        mix-blend-mode: difference; /*   or: screen  saturation  difference */
        /*	display: none; */
}
