---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$big-font-size:  $base-font-size * 1.25;
$base-line-height: 1.5;

$spacing-unit:     20px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$narrow-content-width:  600px;
$wide-content-width:    1200px;
$header-height:   100px;

$on-palm:          600px;
$on-laptop:        800px; // The threshhold for a laptop screen width

$grid-column-width:   ($wide-content-width / 4) - $spacing-unit;


.wrapper-narrow {
  @extend .wrapper;
  padding-top: $spacing-unit;
  /*background-color: $background-color;*/
  background-color: transparent;
  max-width: -webkit-calc(#{$narrow-content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$narrow-content-width} - (#{$spacing-unit} * 2));
  margin: auto;
}

.wrapper-wide {
  @extend .wrapper;
  padding-top: $spacing-unit;
  //background-color: $background-color;
  max-width: -webkit-calc(#{$wide-content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$wide-content-width} - (#{$spacing-unit} * 2));
}

.wrapper-leftcolumn {
  @extend .wrapper;
  padding-top: $spacing-unit;
  background-color: $background-color;
  float: left;
  margin-left: 100px;
  max-width: -webkit-calc(#{$narrow-content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$narrow-content-width} - (#{$spacing-unit} * 2));
}

.wrapper-rightcolumn {
  @extend .wrapper;
  //float: right;
  position: fixed;
  top: $header-height + $spacing-unit;
  right: 20%;
  padding-top: $spacing-unit;
  background-color: grey;
  max-width: 200px;
}




.post-summary {
    font-size: $big-font-size;
    background-color: lighten($brand-color, 30%);
}

ul.breadcrumb {
    padding: 0px 0px;
    list-style: none;
    margin: auto;
    margin-left: 0px;
    margin-bottom: 10px;
    border-bottom: solid 1px black;
    background-color: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 12px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 4px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


table {
    width: 100%;
    border: 1px solid $grey-color-light;
    border-collapse: collapse;
    background-color: lighten($brand-color, 40%);
}

th, td {
    font-size: $small-font-size;
    border: 1px solid $grey-color-light;
    height: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    white-space: nowrap;
}

#currentcat{
    background-color: lighten($brand-color, 20%);
}

#tags{
    text-align: right;
    padding-left: 30px;
    width: 99%;
/*     background-color: darken($brand-color, 10%); */
}

#breadcrumb {
a {
  color: $grey-color;
  text-decoration: none;

  &:visited {
    color: darken($grey-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}
}

td:hover {background-color: #f1f1f1}


.image-caption {
  text-align: center;
  font-size: 1.0rem;
  color: $grey-color;
  width: 90%;
}

/* Grid Formatting */
.grid-container {
  display: grid;
  //grid-column-gap: 30px;
  //grid-row-gap: 30px;
  grid-gap: $spacing-unit; // sets both column and row in one value
  grid-template-columns: $grid-column-width $grid-column-width $grid-column-width $grid-column-width;

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 14px;
    text-align: center;
    width: 250px;
    height: 200px;

    .grid-title {
      font-size: 20px;
      font-style: italic;
      font-weight: bold;
    }

    .grid-text {
      font-size: 12px;
    }
  }

  .grid-item-small {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 14px;
    text-align: center;
    width: 250px;
    height: 100px;

    .grid-title {
      font-size: 16px;
      font-style: italic;
      font-weight: bold;
    }

    .grid-text {
      font-size: 12px;
    }

  }


  .thumb {
    width: 200px;
  }

}

/* Documentation Styles */
#docs-content {
  width: $content-width;
  padding: 20px;
  margin: auto;
  background-color: rgba(255,255,255,1);
}


/* Guide Styles */

#guide-content {
  width: $content-width;
  margin-left: 220px; // same as navbox width, plus some padding
  padding: 0px 10px;
}

#sidebar
{
    float: right;
    width: 200px;
    background: $grey-color-light;
    min-height: 100%;
    font-size: $small-font-size;
}

.sidebar {
    width: 200px; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    float: left;

}


/* Links are guide steps */
.sidebar a {
  //float: left;
  display: block;
  background-color: transparent;
  color: #222222;
  text-align: left;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
  border: 1px #ddd solid;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    background-color: #f2f2f2;
}

.sidebar a.selected {
  background-color: #f2f2f2f2;
}

.sidebar-inner {
  min-height: 200px;
  background-color: rgba(250,250,250,0.5);
}

.sidebar-heading {
  font-weight: bold;
}

#guide-content {
  background-color: #fff;
}

#guide-previous-next-buttons {
  width: 100%;
  margin: auto;
  align-items: center;
}

#guide-previous-next-buttons a {
    font-size: +1em;
    margin: auto;
    display: block;
    background-color: rgba(242,242,242,0.5);
    border: 1px solid grey;
    margin: 10px 10px;
    padding: 10px 10px;
    vertical-align: middle;
}

#guide-previous-next-buttons a.previous {
  float: left;
}

#guide-previous-next-buttons a.next {
  float: right;
}

.creation-footer {
  margin: auto;
  padding: 20px;
}

.ltgt {
  font-weight: bold;
}


/* The sticky class is added to the navbox with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 200px;
}

/* ??? Page content */
.content {
  padding: 16px;
}

/* ??? Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}



// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";
