---
layout: default
---

<article class="post">

        {% include postheader.html %}
        
	<div class="post-content">
		{% comment %}Overview text{% endcomment %}
<!-- 		{% capture cat-subcat %}{{ page.category }}_{{ page.subcategory }}{% endcapture %} -->
		{% assign catoverview = site.minibee_overviews | where:"name", page.category | first %}
		{% if catoverview %}
		<div class="overview">
			{{catoverview | markdownify }}
		</div>
		{% endif %}

		{{ content }}

		{% for coll in site.collections %}
                    {% if coll.label == page.collection %}
                        {% assign subpages = coll.docs | where: "category", page.category %}
<ul>
                        {% for spage in subpages %}
                            {% unless spage.type == "overview" %}
<li> <a href="{{spage.url}}">{{ spage.title }}</a> {% if spage.summary %}: {{ spage.summary }}  {% endif %}</li>
                            {% endunless %}
                        {%endfor%}
</ul>
                    {% endif %}
                {% endfor %}
<hr>
        {% include postfooter.html %}

        </div>


</article>
