---
layout: base
---

<div class="wrapper-wide">

<div class="sidebar">
{% if page.parent == nil %}
  {% assign myreference = page.title | capitalize %}
  {% assign myid = page.title | slugify %}
{% else %}
  {% assign myreference = page.parent | capitalize %}
  {% assign myid = page.parent | slugify %}
{% endif %}
{% assign mystep = page.guidestep %}

<div class="sidebar-inner">
<div class="sidebar-heading"><strong>{{ myreference }}</strong></div>

{% assign mycoll = page.collection %}

{% for coll in site.collections %}
  {% if coll.label == mycoll %}
    {% assign guides = coll.docs | where:"type","reference" | sort:"guidestep" %}
    {% for guide in guides %}
      {% if guide.parent == nil %}
        {% assign guideid = guide.title | slugify %}
      {% else %}
        {% assign guideid = guide.parent | slugify %}
      {% endif %}
      {% if guideid == myid %}
        {% if guide.guidestep == 0 %}
        {% assign mylabel = "Introduction" %}
        {% else %}
        {% assign mylabel = guide.title %}
        {% endif %}

        {% assign prevstep = mystep | minus: 1 %}
        {% assign nextstep = mystep | plus: 1 %}
        {% if guide.guidestep == prevstep %}
        {% assign previouspage = guide %}
        {% elsif guide.guidestep == nextstep %}
        {% assign nextpage = guide %}
        {% endif %}
      <a {% if guide.guidestep == mystep %}class="selected"{% endif %} href="{{ guide.url }}">{{ mylabel }}</a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
</div>
</div> <!-- END SIDEBAR -->

<div id="guide-content">
    <h1 class="page-title">{{ page.title | escape }}</h1>
    <ul class="breadcrumb">
      <li><a href="/sensestage-v1">Sense/Stage v1</a></li>
      <li><a href="/sensestage-v1/references">References</a></li>
      {% if mystep == 0 %}
      <li>{{ myreference }}</li>
      {% else %}
      <li><a href="/sensestage-v1/{{ myreference | slugify }}/{{ myreference | slugify }}">{{ myreference }}</a></li>
      <li>{{ page.title }}</li>
      {% endif %}
    </ul>

  {{ content }}

  <table class="creation-footer">
  <tr>
      <th>page created on:</th>
      <th>last changed on:</th></tr>
  <tr>
      <td>{{ page.creation-date | date: "%-d %B %Y"}}</td>
      <td>{{ page.date |  date: "%-d %B %Y" }}</td>
  </tr>
  </table>

  <div id="guide-previous-next-buttons">
    {% if previouspage %}<a class="previous" href="{{ previouspage.url }}"><span class="ltgt">&lt;</span> Previous: {{ previouspage.title }}</a>{% endif %}
    {% if nextpage %}<a class="next" href="{{ nextpage.url }}">Next: {{ nextpage.title }} <span class="ltgt">&gt;</span></a>{% endif %}
  </div>
</div>

</div> <!-- End Wrapper -->

<!-- script>
window.onscroll = function() {stickNavBox()};
var navbox = document.getElementById("guide-navbox");
var sticky = navbox.offsetTop;

function stickNavBox() {
  if (window.pageYOffset >= sticky) {
    navbox.classList.add("sticky")
  } else {
    navbox.classList.remove("sticky");
  }
}
</script -->
