---
layout: base
entry-type: text
---

<h1>{{ page.title }}</h1>
<h2>{{ page.subtitle }}</h2>
<p>{{ page.date | date: "%B %d, %Y" }}</p>
<p>{{ page.summary }}</p>
<hr>
<span class="emphasis">{{ content }}</span>
<hr>
<p>Source: {{ page.source }}</p>
<p>Source URL: <a href="{{ page.source-url }}" target="_blank">{{ page.source-url }}</a></p>
<p>ID: {{ page.title | slugify:"latin" }}</p>
<p>Categories: {% for cat in page.categories %}{{ cat }} | {% endfor %}</p>
<p>Tags: {% for tag in page.tags %}{{ tag }} | {% endfor %}</p>
